md-content(ng-init='init()' layout-fill layout-padding layout-margin)
  span(layout='row' layout-align='center center')
    md-card(layout='row' flex-gt-md='80')
      md-card-content(flex='100')
        h2.md-card-title Last Fed: {{lastFeeding.timeFed | date: 'M/d h:mm a'}}
        md-button.md-primary.md-raised(ng-click='recordFeeding()') Record Feeding

  span(layout='row' layout-align='center center')
    md-card(layout='row' flex-gt-md='80')
      md-card-content(flex='100')
        h2.md-card-title Lighting Mode
        span(layout='row' layout-align='center center' layout-wrap)
          md-button.md-raised.md-primary(ng-click='setStandard()') Standard
          md-button.md-raised(ng-click='setDirect()') Direct
          md-button.md-raised(ng-click='setRainbowCycle()') Rainbow Cycle
          md-button.md-raised(ng-click='setChill()') Chill
          md-button.md-raised(ng-click='setAquatic()') Aquatic
          md-button.md-raised(ng-click='setHell()') Hell
          md-button.md-raised(ng-click='setVegas()') Vegas
          md-button.md-raised.md-warn(ng-click='setOff()') Off
        span(layout='column')
          p Select Color
          span(style='width: 20px; height: 20px;' ng-style='{"background-color" : "rgb(" + lighting.r + "," + lighting.g + "," + lighting.b + ")"}')
          md-slider.red(ng-model='lighting.r' min='0' max='255' ng-change='setDirect()')
          md-slider.green(ng-model='lighting.g' min='0' max='255' ng-change='setDirect()')
          md-slider.blue(ng-model='lighting.b' min='0' max='255' ng-change='setDirect()')
        span(layout='column')
          p Select Brightness
          md-slider(ng-model='lighting.brightness' min='0' max='255' ng-change='setDirect()')
  span(layout='row' layout-align='center center')
    md-card(layout='row' flex-gt-md='80')
      md-card-content(flex='100')
        h2.md-card-title Historical Feedings
        md-list
          md-list-item.text-center(ng-repeat='feeding in allFeedings track by $index')
            h3(flex='100') {{feeding.timeFed | date: 'M/d h:mm a'}}
            md-divider(ng-if='!$last')
