.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}
md-slider.green.md-default-theme ._md-thumb:after, md-slider.green ._md-thumb:after{
  background-color: green !important;
  border-color: green !important;
}
md-slider.red.md-default-theme ._md-thumb:after, md-slider.red ._md-thumb:after{
  background-color: red !important;
  border-color: red !important;
}
md-slider.blue.md-default-theme ._md-thumb:after, md-slider.blue ._md-thumb:after{
  background-color: blue !important;
  border-color: blue !important;
}
md-slider.md-default-theme.red ._md-track._md-track-fill, md-slider.red ._md-track._md-track-fill {
  background-color: red !important;
}
md-slider.md-default-theme.blue ._md-track._md-track-fill, md-slider.blue ._md-track._md-track-fill {
  background-color: blue !important;
}
md-slider.md-default-theme.green ._md-track._md-track-fill, md-slider.green ._md-track._md-track-fill {
  background-color: green !important;
}
